<h1>@angular/elements change detection problem</h1>
<h3>Please check console too</h3>

<div class="wrapper">
  <div style="width: 400px">
    <h2>Controls</h2>
    <p>Username: <input type="text" [(ngModel)]="username"></p>

  </div>

  <div>
    <h2>Bound <code>[username]="username"</code></h2>
    <ng-template #loading>Loading...</ng-template>
    <ng-template #error>Loading...</ng-template>
    <github-repos
      *axLazyElement="'elements/main.js'; loadingTemplate: loading; errorTemplate: error"
      [username]="username">
    </github-repos>

  </div>

  <div>
    <h2>Hardcoded <code>username="tomastrajan"</code></h2>
    <ng-template #loading>Loading...</ng-template>
    <ng-template #error>Loading...</ng-template>
    <github-repos
      *axLazyElement="'elements/main.js'; loadingTemplate: loading; errorTemplate: error"
      username="tomastrajan">
    </github-repos>

  </div>

</div>

